#wrapPanel{ position:absolute; width:100%; top: 2%; left:0; z-index: 20000;}
.htoolbar{position: absolute; min-height:35px;padding: 5px; background: rgba(237,237,237,0.9); border-radius: 4px; border: 1px solid #fff; box-shadow: #000 0px 0px 10px; }
#wrapPanel input, #wrapPanel i{border:1px solid #717171;}
#panelContent { width: 36%; left: 5%; }
#cercapoi { width: 15%; left: 43%; }
#cercapoilist, #term{padding:6px 1px;}
#nominatim { width: 20%; height:auto !important; left: 60%;}
#nominatim i{padding:5.5px 10px;cursor:pointer;margin-left:-5px;background:#fff;}
#term{width:85%; vertical-align:top;border-right:none !important;}
#msg{margin: 4px 0px;font-size: 0.8em;float: right;width: 62%;}
#resultSearch{margin-top:5px;height: auto; max-height:400px;overflow:auto;}
#resultSearchList li{font-size:0.8em;padding:5px 0px;border-bottom:1px solid #fff;cursor:pointer;}



.customEditingToolbar div {float: left; margin: 5px; width: 24px; height: 24px; cursor: pointer; }
.olControlNavigationItemActive {
   background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png"); 
   background-repeat: no-repeat; 
   background-position: -103px -23px; 
}
.olControlNavigationItemInactive {
   background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png");
   background-repeat: no-repeat;
   background-position: -103px -0px;
}
.olControlDrawFeaturePointItemInactive {
   background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png"); 
   background-repeat: no-repeat; 
   background-position: -77px 0px; 
}
.olControlDrawFeaturePointItemActive {
background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png");
background-repeat: no-repeat;
background-position: -77px -23px;                                                       
}
.olControlDrawFeaturePolygonItemInactive {
   background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png"); 
   background-repeat: no-repeat; 
   background-position: -26px 0px; 
}
.olControlDrawFeaturePolygonItemActive {
background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png");
background-repeat: no-repeat;
background-position: -26px -23px;                                                       
}
.olControlDrawFeatureBoxItemInactive {
   background-image:url("../js/ol2.13/theme/default/img/draw_regular_off.png"); 
   background-repeat: no-repeat; 
   background-position: 0px 1px;
}
.olControlDrawFeatureBoxItemActive {
   background-image:url("../js/ol2.13/theme/default/img/draw_regular_on.png");
   background-repeat: no-repeat;
   background-position: 0px 1px;                                                          
}
.olControlDrawFeaturePathItemInactive {
   background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png"); 
   background-repeat: no-repeat; 
   background-position: -51px 0px;
}
.olControlDrawFeaturePathItemActive {
   background-image:url("../js/ol2.13/theme/default/img/editing_tool_bar.png");
   background-repeat: no-repeat;
   background-position: -51px -23px;                                                          
}
.olControlModifyFeatureItemActive {
   background-image: url(../js/ol2.13/theme/default/img/move_vertex_on.png);
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlModifyFeatureItemInactive {
   background-image:url(../js/ol2.13/theme/default/img/move_vertex_off.png);
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlDeleteFeatureItemActive {
   background-image:url(../js/ol2.13/theme/default/img/remove_point_on.png);
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlDeleteFeatureItemInactive {
   background-image:url(../js/ol2.13/theme/default/img/remove_point_off.png);
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlSelectFeatureItemActive{
   background-image:url(../js/ol2.13/theme/default/img/select_feature_on.png);
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlSelectFeatureItemInactive{
   background-image:url(../js/ol2.13/theme/default/img/select_feature_off.png);
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlResizeFeatureItemActive {
   background-image:url("../js/ol2.13/theme/default/img/resize_feature_on.png"); 
   background-repeat: no-repeat; 
   background-position: 0px 1px;
}
.olControlResizeFeatureItemInactive {
   background-image:url("../js/ol2.13/theme/default/img/resize_feature_off.png");
   background-repeat: no-repeat;
   background-position: 0px 1px;
}
.olControlRotateFeatureItemActive{
   background-image:url(../js/ol2.13/theme/default/img/rotate_feature_on.png);
   background-repeat: no-repeat;
   background-position: -1px 1px;
}
.olControlRotateFeatureItemInactive{
   background-image:url(../js/ol2.13/theme/default/img/rotate_feature_off.png);
   background-repeat: no-repeat;
   background-position: -1px 1px;
}
