@import url("responsive.css");

#map{position:relative;padding:0;margin:-2px 0px 0px 0px !important;width:100%;}
.olControlZoom a, #menuMap h1{background-color:#0A0062 !important;}
#menuMap{position:absolute;top:8px;right:1px;z-index:2000;}
#menuMap h1{display:block;border-top-left-radius:4px;border-bottom-left-radius:4px;}
#menuMapIco, #resultHeader{color:#fff;margin:0;padding:4px;}
#switcher{width:100%;background-color:#fff;border-left:1px solid #0A0062;border-bottom:1px solid #0A0062;font-size:0.75em;}
#switcher h2{font-size:1.1em; display:block;color:#0A0062;border-bottom:1px solid #0A0062;margin-bottom:5px;}
#switcher ul{margin-bottom:10px;}
#switcher ul li{padding:5px 0px;}
#switcher label{cursor:pointer;}
#switcher input[type=checkbox],#switcher input[type=radio]{display:none}
#switcherWrap{position:relative;width:80%; margin:0px auto;padding:10px 0px;}
#switcher img.switcherIco{width:22px; vertical-align:middle;}
.olControlZoom a{height:2em !important;width:2em !important;line-height:2em !important;}
.olControlZoomOut{border-radius: 0px !important;}
.olControlZoom #max{border-radius: 0 0 4px 4px;}
.olControlZoom a:hover{background:#A42929 !important;}
#result{position:absolute;top:30%;left:0;height:70%;display:inline-block;background:rgba(255,255,255,0.9);box-shadow: 0 0px 30px rgba(0,0,0,1);z-index:2000;}
#resultHeader{display:block;text-align:right;background-color:#7E7E7E;}
#resultContent{position:relative;width:100%;height:96%;/*margin:1%;padding:1%;*/font-size:0.8em;overflow:auto;}
.ulpopup li{padding-bottom:4%;}
.ulpopup li:nth-child(even){background-color:#EDEDED;}
.ulpopup span{display:inline-block;width:48%;vertical-align:top;}
.ulpopup span:nth-child(even){padding-left:10px;}
.ulpopup li h2{padding:10px;margin-bottom:10px;}
.ulpopup li a{color:#9B0204 !important;}
.linkButton{margin-top:10px;}
.linkButton a{display:inline-block;padding:5px 10px;text-align:center;border:1px solid #9B0204;}
.trigger{border-left:none !important;border-radius:0px 5px 5px 0px;}
.linkButton a:nth-child(1){border-radius:5px 0px 0px 5px;}
.linkButton a:hover{color:#fff !important; background-color:#9b0204;}
.linkButton i{vertical-align:middle;}
.fotoList {width: 98%;height: 200px;margin:5px 2px;padding:0px; overflow-y: hidden;overflow-x: auto;}

.fotoList ul li{display:inline-block;}
.fotoList img{height:199px;float:left;}
