@import url("mappa_test.css");
@import url("geom.css");

#newPoi{
 position:absolute;
 top:10%;
 left:25%;
 width:50%;
 height:80%;
 background-color:white;
 border:1px solid #B55651;
 z-index:30000;

}
#newPoi h1{
 padding: 10px;
 text-align: center;
 margin: 0px;
 background-color: #B55651;
 color: white;
 height:10%;
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box; 
}
#wrapForm{width:100%;height:89%;overflow:auto;}
#newPoi table{width:95%; margin:10px auto;}
#newPoi table td{vertical-align:middle;padding:10px 0px;}
#newPoi table td:first-child{width:35%;text-align:right;padding-right:30px;}
#newPoi textarea, #newPoi input{height: 15px;}
#newPoi textarea,#newPoi select,#newPoi input{width:95%;padding: 10px;}
#newPoi select{margin: 0;background: #fff;outline: none;display: inline-block;cursor: pointer;-webkit-appearance: none;-moz-appearance: none;
text-indent: 0.01px;}

.mediumDesc{height:50px !important;}
.longDesc{height:100px !important;}

.ui-autocomplete{z-index:30001 !important;}
.ui-menu .ui-menu-item a{background:none;font-size:0.75em !important;}
.ui-menu .ui-menu-item a:hover{border:none !important;margin:0px !important; background-color:#d6d6d6;}

.error{width:80%;margin:0px auto; color:red;}
.errorClass{border:1px solid red;box-shadow: 0px 0px 15px #000;}
select:disabled {background-color: #dddddd !important;}
