body { background: #fff; color: #000; font-size: 12pt; line-height: 150%; margin: 0px;}

#head nav, .olControlZoom, #print, #nav, #navFooter, #social, #copyright div:nth-child(2){display:none;}

#head{margin-bottom:20px;border-bottom:1px solid #000; padding:0;}
#head h1{font-size:20pt;}
#head img#logo{height:20pt !important;}
#head h1, #head img#logo{display:inline-block;vertical-align:middle;padding:0;}

#map{width:700pt !important;}
#mapPrint{margin:0px !important;}
.thumb{width:340pt !important;float:left !important;}
.thumb:nth-child(odd){margin-right:10px;}
