@import url(http://fonts.googleapis.com/css?family=Telex);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin-ext,latin);
@import url("reset.css");
@import url("ico-font/css/font-awesome.css");
/*******  LAYOUT GENERICO  ****/
/*******  MOBILE **************/
/*******  IN FONDO MEDIA QUERIES PER TABLET E PC  *********/
html{font-family: 'Telex', sans-serif;color:#424242;}
a, .transition{-webkit-transition: all .5s linear; -moz-transition: all .5s linear; -ms-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear;}
a{color:#907575;}
a:hover{color:#514F4F;}
input[type="submit"]{cursor:pointer;}
select{background:#fff;}
select:disabled {background-color: #dddddd !important;}
.error{width:80%;margin:0px auto; color:red;}
.errorClass{border:1px solid red !important;box-shadow: 0px 0px 15px #ff0000;}
#head{position:relative;width:100%;margin: 0px auto;padding:0px;color:#7E7E7E;background-color:rgb(237,237,237);text-align:center;}
#head img#logo{display:none}
#head li, footer #navFooter li{display:inline-block;text-align:center;}
#head li:nth-child(n+2):nth-child(-n+4){margin-left:-1%;}
#head li.txt{width:16.66%;}
#head li.img{height: 1.1em;}
#head li.img a{display:block;width:2em;height:1em;}
#head nav{width:100%;clear:both;}
#head h1{font-size:130%;padding:2% 0%;}
#head #enLang{background: url('../img/ukFlag.png') no-repeat center;}
#head #itLang{background: url('../img/itaFlag.png') no-repeat center;}
#head a{color:#7E7E7E;display:inline-block;width:100%;font-size:80%;padding:30% 0px; line-height:150%;}
#head li.txt > a:hover{background-color:#A42929; color:#fff;}
#wrapHead img{display:none;}
#wrapMain{position: relative;width: 100%;min-height:100%;height: 100%;}
.mediumDesc{height:50px !important;}
.longDesc{height:100px !important;}
.overlayDiv{position:absolute;top:0;left:0;width:100%;height:100%;background: rgba(71,47,36,0.4) url("../img/pattern-filter.png") repeat top left;}
.container{position:absolute;top:10%;left:10%;bottom:10%;right:10%;max-width:1000px;padding:0 3%;margin:0 auto;color: #fff;overflow: hidden;-webkit-transform: translateZ(0);}
.container h1{display:block;border-bottom:1px solid #fff;margin-bottom:2%;width:80%;font-size:0.6em;}
.container p{font-size:0.5em;width:80%;line-height:1.3em;}
.container a{color:#fff;}
.container a:hover{color:#EDB65B;}
.container .containerFooter{display:none;}
footer{position:relative;width:100%;font-size:0.8em;text-align:center;color:#6E6C6C;background:#d2d2d2;clear: both;height:200px;margin-top:50px;}
footer #wrapFooter{width:80%;margin:0px auto;padding:20px 0px;}
footer #social i{vertical-align:middle;}
footer #social span.space{font-size:2em;vertical-align:middle;}
footer #navFooter{text-align:center;border-top:1px dotted #6e6c6c;padding-top:10px;}
footer #navFooter a{border-bottom:1px dotted;}
footer #navFooter li{width:15%;}
footer #social{margin:10px 0px;}
.wrapContent{margin:0 auto;width:95%;}
.intro{position:relative;display:inline-block;width:100%;margin:0px;box-shadow: 0 0px 30px rgba(0,0,0,1); background:url("../img/introBg.jpg") no-repeat center center; background-size: cover;}
.intro .colDx{position:relative;margin:4% auto;color:#fff;font-size:1em;line-height:1.5;}
#mainContent{margin:20px auto;}
#mainContentWrap section{margin:10px 0px;}
#mainContentWrap header{font-size: 1.2em;border-bottom: 1px solid #000;margin: 10px 0px 20px;}
#mainContentWrap article{height:150px;}
#mainContentWrap article#mappa i.logo{color:rgb(10,0,98);}
#mainContentWrap article#database i.logo{color:rgb(135,116,106);}
#mainContentWrap article#info i.logo{color:rgb(164,41,41);}
#mainContentWrap article i.logo{float:left;width:80px;}
#mainContentWrap article p{font-size:0.9em;padding-left:82px;}
#mainContentWrap a.linkSez {display: block;text-align: center;padding: 7px 0px; color: #fff;border-radius: 50px;}
#mainContentWrap a.linkSezMappa{background-color:rgb(10,0,98);}
#mainContentWrap a.linkSezPoi{background-color:rgb(135,116,106);}
#mainContentWrap a.linkSezInfo{background-color:rgb(164,41,41);}
#mainContentWrap section, #nav{clear:both;}
#nav{font-size:1em;}
.intro .colDx{width:97%;}

#nav section {float: left;width: 48%;margin-top:20px;}
#nav section:nth-child(1){padding-right: 1%;}
#nav section:nth-child(1){padding-left: 1%;}
#nav h1{margin:15px 0px 10px;font-size:1em; border-bottom:1px dotted #424242; padding:5px 0px;}
#nav a{font-size:0.75em;display:block;padding:3px 0px;}

form[name=login] li{margin-bottom:5px;}
form[name=login] i{float: left;padding: 5.5px;color: #424242;border-top-left-radius: 6px;
border-bottom-left-radius: 6px;font-size: 1em;background: #d6d6d6;}
form[name=login] input{padding:6px;width:110px;}
form[name=login] i, form[name=login] input{border-top: 1px solid #424242;border-bottom: 1px solid #424242;}
form[name=login] i{border-left: 1px solid #424242;border-right: none;}
form[name=login] input{border-right: 1px solid #424242;border-left: none;}
form[name=login] input[type=submit]{width:10.5em;border:1px solid #424242;}

a#print{float: right;}
a.button {border: 1px solid #A42929;color: #A42929;padding: 3px 5px; border-radius: 5px;}
a.button:hover{background:#A42929; color:#fff;}


/* gestione jquery */
.ui-helper-hidden-accessible{display:none;}
.ui-autocomplete { max-height: 200px; width:30% !important;overflow-y: scroll; overflow-x: hidden;z-index:3000;}
.ui-autocomplete li{width:100%;background-color:#eeeeec !important;border-bottom:1px solid #fff;padding:5px 10px;}
.ui-autocomplete li:hover{background-color:#fff !important;}
.ui-autocomplete li a{color:#000 !important;font-size:0.75em !important;}
.ui-autocomplete li a:hover{background:none !important;cursor:default !important;}
.ui-helper-hidden-accessible{display:none !important;}
/* classi generiche applicabili a qualsiasi oggetto*/
.active{background-color:rgb(10,0,98) !important; color:#fff !important; cursor:default;}
.layerActive{color:#A42929;font-weight:bold;}
.cursor{cursor:pointer;}
.hidden{display:none;}
.block{display:block;}
.export {display: inline-block;padding: 11px;border-radius: 5px;border: 1px solid grey;font-weight: bold;}


/* poiList */
.zebra tbody tr:nth-child(even){background-color: #D8D8D8;}
.zebra thead, .zebra tfoot{background-color: #F8F8F6;color: #383838;border-bottom: 1px solid #AA191A;border-top: 1px solid #AA191A;}
.zebra th, .zebra td{padding:5px 10px;text-align:left !important;}
.zebra td{font-size:0.8em;}
.zebra tbody td a{color:#424242 !important;}
.zebra tbody tr:hover a{color:#fff !important;}
.zebra tbody tr:hover{background-color:#0A0062; color:#fff;}
.zebra thead tr th:nth-child(1){width:20%;}
.zebra thead tr th:nth-child(2){width:20%;}
.zebra thead tr th:nth-child(3){width:20%;}
.zebra thead tr th:nth-child(4){width:15%;}
.zebra thead tr th:nth-child(5){width:15%;}
.zebra tfoot td{padding:0px;}
.zebra tfoot div{text-align:center;}
.zebra tfoot ul{width:90% !important; margin:0px auto !important;}
.zebra tfoot ul li{display:inline-block !important;font-size:1em;}
.zebra tfoot ul li.active{background-color: #AA191A !important;}
.zebra tfoot ul li.active > a{color: #fff !important;}
.zebra tfoot ul li a{padding:10px;margin:0px;color: #383838;display:block;}
.zebra tfoot ul li a:hover{background-color: #AA191A !important;color: #fff !important;}

#filtro {width: 50%;margin: 10px 0px;padding:11px;border-radius: 5px 0px 0px 5px;border-left: 1px solid grey;border-top: 1px solid grey;border-bottom: 1px solid grey;border-right: none;}
#filtri i {padding: 10.5px;border-right: 1px solid grey;border-top: 1px solid grey;border-bottom: 1px solid grey;border-left: none;margin-left: -5px;vertical-align: middle;cursor:pointer;border-radius:0px 5px 5px 0px;}

/* poi */
.wrapThumb { display: inline-block; width: 45%; vertical-align:top; margin: 1%;}
.photoTool{position:absolute;top:0px;width:43%;background:rgba(0,0,0,0.3);margin:1%;text-align: right;z-index:1000;/*display:none;*/}
.photoTool a{font-size: 1.3em; color:#1F1F1F;padding:3px 5px; vertical-align:middle;}
.photoTool a:hover{color:#000;}
#photoContent{position:relative; width:100%;height:auto;display:block;}
#infoContent{width:100%}
#infoContent span{display:inline-block;}
#infoContent .key{width:49%;margin-right:1%;vertical-align:top;}
#infoContent .value{width:50%;}
#infoContent hr{margin:0px;}


/* Tablets */
@media only screen and (min-width:481px) and (max-width:1024px) {
    #head{display:inline-block;text-align:left;}
    #head h1{font-size:150%;padding:2% 0%;}
    #head nav{width:30%;float:right;clear:none;}
    #wrapHead{width:55%;float:left;padding-left:5%;}
    #wrapHead img{display:inline;float:left;margin-right:10px;}
    .wrapContent{width:95%;}
    .container h1{font-size:2em;}
    .container p{font-size:1em;}
    .container .containerFooter{display:inline;position:absolute;bottom:2%;right:5%;font-size:0.750em;}
    #mainContentWrap section{float:left;width:30%;}
    #mainContentWrap section:nth-child(2){padding:0 5%;}
    #nav{clear:both;}
    #mainContentWrap section{clear:none;}
    #nav{padding: 20px 0px;position: relative;background: #d2d2d2;display: inline-block;width:106%;margin:0 -3% -53px;border-bottom:1px dotted #6e6c6c;}
    #nav #loginWrap{width:69%;padding-right:1%}
    #nav #loginWrap div{display:inline-block;vertical-align:top;width:31%;}
    #nav #loginWrap div:nth-child(2){padding:0 2%;}
    #nav #navLink{width:28%}
    .wrapThumb { display:inline-block; width: 25%; vertical-align:top; margin: 0.3%;}
    .photoTool{position:absolute;top:0px;width:24.6%;background:rgba(0,0,0,0.3);margin:0.3%;text-align: right;z-index:1000;}
    .photoTool a{font-size: 1.3em; color:#1F1F1F;padding:3px 5px; vertical-align:middle;}
    .photoTool a:hover{color:#000;}
    #infoContent .key{width:29%;margin-right:1%;}
    #infoContent .value{width:70%;}
}
/*


/* pc */
@media screen and (min-width: 1025px){
    #head{display:inline-block;text-align:left;}
    #head img#logo { display: inline; height: 50px !important; padding: 1.5% 0px;}
    #head h1{font-size:150%;padding:3% 0%;}
    #head a{line-height:300%;}
    #head nav{width:30%;float:right;clear:none;}
    #wrapHead{width:55%;float:left;padding-left:5%;}
    #wrapHead img{display:inline;float:left;margin-right:10px;}
    .container h1{font-size:2em;width:80%}
    .container p{font-size:1em;width:50%;}
    .container .containerFooter{display:inline;position:absolute;bottom:2%;right:5%;font-size:0.750em;}
    footer #navFooter li{width:6%;}
    .wrapContent{width:80%;}
    .intro .colDx{width:90%;}
    #mainContentWrap{width:80%; float:left;}
    #mainContentWrap section{float:left;width:30%;}
    #mainContentWrap section:nth-child(2){padding:0 5%;}
    #nav{float:right;width:17%;padding-left:1%;border-left:1px dotted #424242;}
    #mainContentWrap section, #nav{clear:none;}
    #nav section {clear:both;width: 100%;margin:0px;padding:0px;}
    footer{margin-top:100px;}
    #nav h1{margin:15px 0px 5px;font-size:0.9em; border-bottom:1px dotted #424242; padding:5px 0px;}
    #nav a{font-size:0.75em;display:block;padding:3px 0px;}
    form[name=login] input{width:10em;}
    form[name=login] input[type=submit]{width:12.5em;}
    #infoContent .key{width:20%;margin-right:1%;}
    #infoContent .value{width:79%;}
    .wrapThumb {position:relative; display: inline-block; width: 24%; vertical-align:top; margin: 0.3%;}
    .photoTool{position:absolute;top:0px;width:100%;background:rgba(0,0,0,0.3);text-align: right;margin:0.3%;z-index:1000;}
    .photoTool a{font-size: 1.3em; color:#1F1F1F;padding:3px 5px; vertical-align:middle;}
    .photoTool a:hover{color:#fff !important;}
    .myDialog{position:fixed;top:0 !important;left:0;right:0;bottom:0;background:rgba(0,0,0,0.3);margin:0px auto;display:none;z-index:2000;}
    .myDialog form span{display:block; width:100%; text-align:center;color:red;}
    .myDialogWrapContent{position:absolute; top:10%;width:100%; margin:0px auto; }
    .myDialogContent{position:relative;background:#fff;width:600px; height:550px; margin:0px auto;}
    .myDialogContentHeader{text-align:right;padding:5px 10px;background: rgb(237,237,237);}
    .myDialogContentHeader i{cursor:pointer;}
    .myDialogContentMain{height:90%;overflow:auto;text-align: center;}
    .myDialogContentMain h1{font-size:1.5rem;}
    .myDialogContentMain h1, .myDialogContentMain p{margin-bottom:10px;}
    .myDialogContentMain h1.warning{color:red;}
    #updateInfo textarea{height:16px;}
